$listboxItemPadding: 0 10px !default;
$listboxItemHeight: 26px !default;

.nex-listbox {
	background:#FFF;
	overflow: hidden;
	box-sizing: border-box;
    border:1px solid #999;
    display: flex;
    flex-direction: column;
	&:focus{
		outline:0;	
	}
	&-disabled {
		border:1px solid #b3b3b3;
	}
	.nex-listbox-body {
       flex: 1;
        overflow: hidden;
        overflow-y: auto;

		.nex-listbox-item-group-title,
		.nex-listbox-item {
			//list-style:none;
			position:relative;
			padding:$listboxItemPadding;
			cursor: pointer;
			line-height:$listboxItemHeight;
			height:$listboxItemHeight;
			white-space: nowrap;
			overflow:hidden;
		}
		
		//.nex-listbox-item:hover,
		.nex-listbox-item-active {
			background: #ecedef;
		}
		
		.nex-listbox-item-selected {
			background: #e2ecf7;
		}
		
		.nex-listbox-item-disabled {
			opacity: .5;
			cursor: default;
			&:not(.nex-listbox-item-selected):hover {
				background: none;
				//color: rgba(0,0,0,.25);
			}	
		}
		
		.nex-listbox-item-group-title {
			padding:$listboxItemPadding;
			cursor:default;
			color: #999;
		}
		
		.nex-listbox-item-group-list .nex-listbox-item {
			padding-left:20px;	
		}
	
	}
}	